In [1]:
import pandas as pd

### Q1

In [5]:
data1 = [1,4,9,6,7]
index1 = ['a','x','c','2','e']
series1 = pd.Series(data1, index=index1)
print(series1)

a    1
x    4
c    9
2    6
e    7
dtype: int64

### Q2

In [6]:
data2 = {"Bilal":42, "Ayesha":38, "Hadia":39}
series2 = pd.Series(data2)
print(series2)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

### Q3

In [11]:
data3 = {"day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],
        "temperature":[32,35,28,24,32,31],
        "windspeed":[6,7,2,7,4,2],
        "event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]}
series3 = pd.DataFrame(data3)
series3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Q4

In [12]:
series3.index = ['a','b','c','d','e','f']
series3

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

### Q5

In [15]:
mean = series3["temperature"].mean()
print("Mean is", mean)
maximum = max(series3["temperature"])
print("Maximum is", maximum)
minimum = min(series3["temperature"])
print("Minimum is", minimum)

Mean is 30.333333333333332
Maximum is 35
Minimum is 24

### Q6

In [24]:
df = pd.read_csv("people.csv", usecols = ["First Name", "Sex", "Email", "Phone", "Job Title"])
df.set_index(keys=["Sex", "Job Title"], inplace = True)
df.drop(df.index[1:6], inplace = True)
df.to_csv("NewPeople.csv", index = False)

### Q7

In [25]:
file = "SampleWork.xlsx"
df = pd.read_excel(file, skiprows=1, header=1)
first_sheet = df.iloc[:, :]
first_and_last_columns = first_sheet.iloc[:, [0, -1]]
first_and_last_columns.to_excel("export_file.xlsx", index=False)

### Q8

In [46]:
AICP = {"Name":["Sonia","Bilal","Hifza","Kabir","jazim"],
          "Age":[27,24,22,32,23],
          "Address":["Lahore","Karachi","Sialkot","Peshawar","lhr"],
          "Qualification":["Msc","MA","MCA","Phd","bsc"]}
AICP_DF = pd.DataFrame(AICP)
df1 = AICP_DF[["Name", "Qualification"]]
print(df1)
print("----------------------------")
AICP_DF["Height"] = [5.1, 6.2, 5.1, 5.2, 5.1]
AICP_DF.set_index(keys = "Name", inplace = True)
print(AICP_DF.loc["Hifza"])
print("----------------------------")
print(AICP_DF.iloc[2])
print("----------------------------")
AICP_DF.drop("Bilal",axis = 0, inplace = True)
print(AICP_DF)

    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  jazim           bsc
----------------------------
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object
----------------------------
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object
----------------------------
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
jazim   23       lhr           bsc     5.1